{% extends 'admin/admin_home.html' %}

{% load static %}
{% block titlehead %}
Customer Contact Details
{% endblock titlehead %}
{% block contentadmin %}

            <div class="container">
                <div id="contactable">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Date</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  {% for c in contact %}
                  <a href="{% url 'contactviewsingle' c.id %}">
                  <tbody>
                    <tr>
                      <th scope="row"><a href="{% url 'contactviewsingle' c.id %}"><button>ss</button></a></th>
                      <td>{{c.name}}</td>
                      <td>{{c.phone}}</td>
                      <td>{{c.subject}}</td>
                      <td>{{c.date}}</td>
                      <td><a href="{% url 'deletecontact' c.id %}"><button type="button" class="btn btn-primary"><small>D</small></button></a></td>
                    </tr>
                  </tbody>
                </a>
                  {% endfor %}
                </table>
              </div>
              </div>
{% endblock contentadmin %}