{% extends 'base.html' %}

{% load static %}
{% block content%}


    <style>
        .breadcrumb-area-bg{
            background-image: url("{% static '/assets/images/backgrounds/breadcrumb-area-bg.jpg' %}");

        }
        .intro-style1-video-gallery-bg{
            background-image: url("{% static '/assets/images/resources/intro-style1-video-gallery.jpg' %}");
        }
    </style>

        <!--Start breadcrumb area-->
        <section class="breadcrumb-area">
            <div class="breadcrumb-area-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content">
                            <div class="title">
                                <h2>About Us</h2>
                            </div>
                            <div class="breadcrumb-menu">
                                <ul>
                                    <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li>
                                    <li class="breadcrumb-item">About Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->


        <!--Start Intro Style1 Area-->
        <section id="about" class="intro-style1-area" style="background-color: #f5f8f7;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="intro-style1-content-box">
                            <div class="sec-title">
                                <h2>Kundamangalam Co-Operative Rural Bank</h2>
                            </div>
                            <div class="text">
                              <!--  <p class="font">ജില്ലയിലെ പ്രമുഖ CLASS (സ്പെഷ്യൽ ഗ്രേഡ് ബാങ്ക്. പ്രവർത്തനമൂലധനം 200 കോടിയിലധികം അംഗങ്ങൾക്ക് ലാഭവിഹിതം നൽകുന്നു നിക്ഷേപങ്ങൾക്ക് ഉയർന്ന പലിശ
                                    എല്ലാവിധ ബാങ്കിംഗ് ഇടപാടുകൾ നടത്തുന്നു</p>-->

                                <p>Choice is untrammelled and when nothing prevents our being able to do what we like best every pleasure is to be welcomed.</p>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="intro-style1-video-gallery">
                            <div class="intro-style1-video-gallery-bg" >
                            </div>
                            <div class="intro-video-gallery-style1">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Intro Style1 Area-->



        <section class="elementor-section elementor-top-section elementor-element elementor-element-8573c79 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="8573c79" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-407150c" data-id="407150c" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-a1e24ac elementor-widget elementor-widget-finbank_benefits_section" data-id="a1e24ac" data-element_type="widget" data-widget_type="finbank_benefits_section.default">
                            <div class="elementor-widget-container">

                                <!--Start Benefits Area-->
                                <section id="benefits" class="benefits-style2-area">
                                    <div class="container">
                                        <div class="sec-title text-center">
                                            <h2>Our Branches</h2>
                                            <div class="sub-title">
                                               <!-- <p>We help businesses and customers achieve more.</p>-->
                                            </div>
                                        </div>
                                        <ul class="row benefits-content text-center">
                                            <!--Start Single Benefits Box Colum-->
                                            <li class="col-xl-4 col-4 single-benefits-box-colum">
                                                <div class="single-benefits-box">
                                                    <div class="icon">
                                                        <span class=""><img src="{% static 'assets/images/kcrb/branch-icon.png' %}"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h3>Parambil Bazar</h3>
                                                        <p>0495 2265803</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!--End Single Benefits Box Colum-->
                                            <!--Start Single Benefits Box Colum-->
                                            <li class="col-xl-4 col-4 single-benefits-box-colum">
                                                <div class="single-benefits-box">
                                                    <div class="icon">
                                                        <span class=""><img src="{% static 'assets/images/kcrb/branch-icon.png' %}"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h3>Town Branch</h3>
                                                        <p>0495 2803 245</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!--End Single Benefits Box Colum-->
                                            <!--Start Single Benefits Box Colum-->
                                            <li class="col-xl-4 col-4 single-benefits-box-colum">
                                                <div class="single-benefits-box">
                                                    <div class="icon">
                                                        <span class=""><img src="{% static 'assets/images/kcrb/branch-icon.png' %}"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h3>Payambra</h3>
                                                        <p>0495 2811 245</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!--End Single Benefits Box Colum-->
                                            <!--Start Single Benefits Box Colum-->
                                            <li class="col-xl-4 col-4 single-benefits-box-colum">
                                                <div class="single-benefits-box">
                                                    <div class="icon">
                                                        <span class=""><img src="{% static 'assets/images/kcrb/branch-icon.png' %}"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h3>Kuttikattoor</h3>
                                                        <p>0495 2352 245</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!--End Single Benefits Box Colum-->
                                            <!--Start Single Benefits Box Colum-->
                                            <li class="col-xl-4 col-4 single-benefits-box-colum">
                                                <div class="single-benefits-box">
                                                    <div class="icon">
                                                        <span class=""><img src="{% static 'assets/images/kcrb/branch-icon.png' %}"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h3>Kalarikandi</h3>
                                                        <p>0495 2930 245</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!--End Single Benefits Box Colum-->
                                            <!--Start Single Benefits Box Colum-->
                                            <li class="col-xl-4 col-4 single-benefits-box-colum">
                                                <div class="single-benefits-box">
                                                    <div class="icon">
                                                        <span class=""><img src="{% static 'assets/images/kcrb/branch-icon.png' %}"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h3>Pathimangalam</h3>
                                                        <p>0495 2521 245</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!--End Single Benefits Box Colum-->
                                        </ul>
                                    </div>
                                </section>
                                <!--End Benefits Area-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Start preloader -->


        <div class="page-wrapper">

            <div data-elementor-type="wp-page" data-elementor-id="383" class="elementor elementor-383">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-900eb79 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="900eb79" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-555b9f0" data-id="555b9f0" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-8533ea4 elementor-widget elementor-widget-finbank_our_team" data-id="8533ea4" data-element_type="widget" data-widget_type="finbank_our_team.default">
                                    <div class="elementor-widget-container">

                                        <!--Start Team Style1 Area-->
                                        <section class="team-style1-area">
                                            <div class="container">
                                                <div class="sec-title text-center">
                                                    <h2>Our Management Team</h2>
                                                    <div class="sub-title">
                                                        <p>Team of diverse and talented leaders.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img loading="lazy" width="270" height="350" src="{% static 'assets/images/Pic/Team08.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" sizes="(max-width: 270px) 100vw, 270px" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/bret-ke-danielle/index.html">Bret Ke Danielle</a></h3>
                                                                <h5>Founder & CEO</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img width="270" height="350" src="{% static 'assets/images/Pic/Team01.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" loading="lazy" srcset="" sizes="(max-width: 270px) 100vw, 270px" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/ian-hudson/index.html">Ian Hudson</a></h3>
                                                                <h5>Chief Operating Officer</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img width="270" height="350" src="{% static 'assets/images/Pic/Team02.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" loading="lazy" srcset="" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/lillian-stella/index.html">Lillian Stella</a></h3>
                                                                <h5>Chief Financial Officer</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img width="270" height="350" src="{% static 'assets/images/Pic/Team03.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" loading="lazy" srcset="" sizes="(max-width: 270px) 100vw, 270px" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/crise-jordan/index.html">Crise Jordan</a></h3>
                                                                <h5>Corporate Marketing</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img width="270" height="350" src="{% static 'assets/images/Pic/Team04.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" loading="lazy" srcset="" sizes="(max-width: 270px) 100vw, 270px" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/rose-taylor/index.html">Rose Taylor</a></h3>
                                                                <h5>Corporate Marketing</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img width="270" height="350" src="{% static 'assets/images/Pic/Team05.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" loading="lazy" srcset="" sizes="(max-width: 270px) 100vw, 270px" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/sara-rosi/index.html">Sara Rosi</a></h3>
                                                                <h5>Corporate Marketing</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img width="270" height="350" src="{% static 'assets/images/Pic/Team06.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" loading="lazy" srcset="" sizes="(max-width: 270px) 100vw, 270px" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/rafeel-nidal/index.html">Rafeel Nidal</a></h3>
                                                                <h5>Corporate Marketing</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                    <!--Start Single Team Style1-->
                                                    <div class="col-xl-3 col-lg-3 col-md-4">
                                                        <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                            <div class="img-holder">
                                                                <div class="inner">
                                                                    <img width="270" height="350" src="{% static 'assets/images/Pic/Team07.jpg' %}" class="attachment-finbank_270x350 size-finbank_270x350 wp-post-image" alt="" decoding="async" loading="lazy" srcset="" sizes="(max-width: 270px) 100vw, 270px" />
                                                                    <div class="share-button">
                                                                        <div class="icon">
                                                                            <span class="fas fa-plus"></span>
                                                                        </div>
                                                                        <ul class="social-links">
                                                                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                                                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h3><a href="../team/vanis-williams/index.html">Vanis Williams</a></h3>
                                                                <h5>Corporate Marketing</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Single Team Style1-->
                                                </div>
                                            </div>
                                        </section>
                                        <!--End Team Style1 Area-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="clearfix"></div>

            <!--Scroll to top-->
            <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
                <i class="icon-chevron"></i>
            </a>
        </div>

        <!--End Page Wrapper-->

        <!--Start Main Contact Form Area-->
        <section id="contact" class="main-contact-form-area pdb100" style="background-color: #F0F5F6;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="contact-info-box-style1">
                            <div class="box1"></div>
                            <div class="title">
                                <h2>Get Support for<br> any Queries or Complaints</h2>
                                <p>Committed to helping you meet all your banking needs.</p>
                            </div>
                            <ul class="contact-info-1">
                                <li>
                                    <div class="icon">
                                        <span class="icon-map"></span>
                                    </div>
                                    <div class="text">
                                        <p>Corporate Office</p>
                                        <h3>Kunnamangalam Co- Operative Rural Bank. Ltd No.F1246
                                            P.O Kunnamangalam <br> Kozhikode, Kerala PIN 673571
                                        </h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-clock"></span>
                                    </div>
                                    <div class="text">
                                        <p>Office Hours</p>
                                        <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                                        <span>[2nd Sat Holiday]</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-phone"></span>
                                    </div>
                                    <div class="text">
                                        <p>Front Desk</p>
                                        <h3><a href="tel:123456789">0495 2800 245</a></h3>
                                        <h3><a href="mailto:yourmail@email.com">kgmruralbank@gmail.com</a></h3>
                                    </div>
                                </li>
                            </ul>

                            <div class="bottom-box">
                                <div class="btn-box">
                                    <a href="#"><i class="fas fa-arrow-down"></i> Customer Care</a>
                                </div>
                                <div class="footer-social-link-style1">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-xl-6">
                        <div class="contact-form" style="background-color: #ffffff;">
                            <form id="contact-form" class="default-form2" action="{% url 'contactus' %}" method="post">
                                
                                <div class="form-group">
                                    <label>Name</label>
                                    <div class="input-box">
                                        <input type="text"  id="formName" placeholder="xxxxxx" required="" name="fname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <div class="input-box">
                                        <input type="email"  id="formEmail" placeholder="" required="" name="email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Ph. Num</label>
                                    <div class="input-box">
                                        <input type="text" value="" id="formPhone" placeholder="" name="phone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Subject</label>
                                    <div class="input-box">
                                        <input type="text"  value="" id="formSubject" placeholder="Subject" name="sub">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Message</label>
                                    <div class="input-box">
                                        <textarea  id="formMessage" placeholder="" required="" name="message"></textarea>
                                    </div>
                                </div>

                                <div class="button-box">
                                    <input id="form_botcheck"  class="form-control" type="hidden" value="" >
                                    <button class="btn-one" type="submit" data-loading-text="Please wait...">
                                        <span class="txt">
                                            send a message
                                        </span>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Main Contact Form Area-->

        <!--Start Partner Area-->
        <section class="partner-style2-area">
            <div class="container">
                <div class="brand-content">
                    <div class="owl-carousel owl-theme thm-owl__carousel partner-carousel" data-owl-options='{
                        "loop": false,
                        "autoplay": true,
                        "margin": 25,
                        "nav": false,
                        "dots": false,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                        "responsive": {
                                "0": {
                                    "items": 1
                                },
                                "768": {
                                    "items": 3
                                },
                                "992": {
                                    "items": 4
                                },
                                "1200": {
                                    "items": 6
                                }
                            }
                        }'>

                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="{% static 'assets/images/brand/brand-1-1.png' %}" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="{% static 'assets/images/brand/brand-1-2.png' %}" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="{% static 'assets/images/brand/brand-1-3.png' %}" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="{% static 'assets/images/brand/brand-1-4.png' %}" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="{% static 'assets/images/brand/brand-1-5.png' %}" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                        <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="{% static 'assets/images/brand/brand-1-6.png' %}" alt="Awesome Image"></a>
                        </div>
                        <!--End Single Partner Logo Box-->
                    </div>
                </div>
            </div>
        </section>
        <!--End Partner Area-->
        <!--Start slogan area-->
        <section class="slogan-area slogan-area--style2">
            <div class="container">
                <div class="slogan-content-box slogan-content-box--style2">
                    <div class="slogan-content-box-bg"></div>
                    <div class="inner-title">
                        <h2>Experience a New Digital World.</h2>
                        <p>Mobile banking application with new & exciting features.</p>
                    </div>
                    <div class="get-app-box">
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="icon">
                                        <span class="icon-play-store"></span>
                                    </div>
                                    <div class="text">
                                        <h4>Download</h4>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="style2" href="#">
                                    <div class="icon">
                                        <span class="icon-apple"></span>
                                    </div>
                                    <div class="text">
                                        <h4>Download</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
            <i class="icon-chevron"></i>
        </a>
        <!--End slogan area-->
        <style>
            .slogan-content-box-bg{
                background-image: url("{% static 'assets/images/backgrounds/slogan-content-box-bg.jpg' %}");
            }
        </style>
        {% endblock content%}
