{% extends 'base.html' %}
{% load static %}
{% block content%}


<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>Downloades</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li>
                            <li class="breadcrumb-item">Downloades</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Accounts Style1 Area-->
<section>


    <div class="container">
        <div class="sec-title text-center">
            <br>
            <h2>Download Forms Here</h2>
            <div class="sub-title">
                <p></p>
            </div>
        </div>
        <div class="row">
            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2 ">
                    <div class="inner">
                       <div class="step-box">
                            <h4>Form 1</h4>
                        </div>
                        <div class="icon-holder">
                           <img src="../static/assets/images/icon/downloades.png" width="70px">
                        </div>
                        <h3> <a href="static\pdf\blank.pdf" download><button>Download</button></a></h3>
                        <div class="text">
                            <p>KYC Updation Form</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->
            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2 bg2">
                    <div class="inner">
                        <div class="step-box">
                            <h4>Form 2</h4>
                        </div>
                        <div class="icon-holder">
                           <img src="../static/assets/images/icon/downloades.png" width="70px">
                        </div>
                        <h3> <a href="static\pdf\blank.pdf" download><button>Download</button></a></h3>
                        <div class="text">
                            <p>KYC Updation Form</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->
            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2 bg3">
                    <div class="inner">
                        <div class="step-box">
                            <h4>Form 3</h4>
                        </div>
                        <div class="icon-holder">
                           <img src="../static/assets/images/icon/downloades.png" width="70px">
                        </div>
                        <h3> <a href="static\pdf\blank.pdf" download><button>Download</button></a></h3>
                        <div class="text">
                            <p>KYC Updation Form</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->
            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2 bg4">
                    <div class="inner">
                      <div class="step-box">
                            <h4>Form 4</h4>
                        </div>
                        <div class="icon-holder">
                           <img src="../static/assets/images/icon/downloades.png" width="70px">
                        </div>
                        <h3> <a href="static\pdf\blank.pdf" download><button>Download</button></a></h3>
                        <div class="text">
                            <p>KYC Updation Form</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->
        </div>
    </div>

</section>


<!--Start slogan area-->
<section class="slogan-area slogan-area--style2">
    <div class="container">
        <div class="slogan-content-box slogan-content-box--style2">
            <div class="slogan-content-box-bg"></div>
            <div class="inner-title">
                <h2>Now Experience a New Digital World.</h2>
                <p>Mobile banking application with new & exciting features we can Download Now</p>
            </div>
            <div class="get-app-box">
                <ul>
                    <li>
                       <a href="https://play.google.com/store/apps/details?id=com.mscore.kunnamangalam_1">
                            <div class="icon">
                                <span class="icon-play-store"></span>
                            </div>
                            <div class="text">
                                <h4>Download the APP</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Accounts Style1 Area-->
<style>
    .breadcrumb-area-bg {
        background-image: url("{% static '/assets/images/backgrounds/breadcrumb-area-bg.jpg' %}");
    }
</style>
{% endblock content%}